<div class="responsive-bar">
  <div class="logo">
    <img src="../../../assets/images/logos/logo-transparent.png">
  </div>
  <!-- <div class="menu border border-white">
    <!-- <span (click)="this.switchToResponsiveMenu()">Menu</span> -->
    <!-- <button (click)="this.switchToResponsiveMenu()">MENU</button>
  </div> --> -->
</div>

<nav class="border-bottom border-secondary">
  <div class="logo">
    <img src="../../../assets/images/logos/logo-transparent.png">
  </div>

  <div class="menu d-block d-lg-none">
    <h4>Menu</h4>
  </div>


  <!-- <div class="logo-div">
    <div class="roof"></div>
    <h1>Profil-pol</h1>
    <p>Garaze na kazda kieszen</p>
  </div> -->
  <ul>
    <li>
      <a class="active" (click)="this.gotoStartPage()">Start</a>
    </li>
    <li>
      <a (click)="this.gotoOfertaPage()">Oferta</a>
    </li>
    <li>
      <a (click)="this.gotoKontaktPage()">Kontakt</a>
    </li>
    <li>
      <a (click)="this.gotoPoradnikPage()">Poradnik</a>
    </li>
    <li>
      <a (click)="this.gotoGaleriaPage()">Galeria</a>
    </li>
  </ul>
</nav>

<div *ngIf="this.getCommonPageService().getLoginService().isLogedIn" class="order-button">
  <fa name="shopping-cart" size="3x"></fa>
  <span (click)="this.gotoProductionStatusPage()">Moje zamowienia</span>
</div>

<div *ngIf="!this.getCommonPageService().getLoginService().isLogedIn" class="login-button">
  <fa name="user-circle" size=""></fa>
  <span (click)="this.gotoLoginPage()">Zaloguj</span>
</div>


<div class="telephone-number d-none d-lg-block">
  <p><i class="fa fa-phone"></i> + 01 234 567 88</p>
</div>






