<!-- <div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand">Profil-pol</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item active">
          <a class="nav-link" (click)="this.gotoStartPage()">Start
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="this.gotoOfertaPage()">Oferta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="this.gotoKontaktPage()">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="this.gotoPoradnikPage()">Poradnik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="this.gotoGaleriaPage()">Galeria</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div> -->

<!--
more ui & layout https://github.com/alphadsy
contribute on github : https://github.com/alphadsy/alpha-ui
-->

<nav>
  <div class="logo">
    <img src="../../../assets/images/logos/logo.png">
  </div>
  <ul>
    <li><a class="active" (click)="this.gotoStartPage()">Start</a></li>
    <li><a (click)="this.gotoOfertaPage()">Oferta</a></li>
    <li><a (click)="this.gotoKontaktPage()">Kontakt</a></li>
    <li><a (click)="this.gotoPoradnikPage()">Poradnik</a></li>
    <li><a (click)="this.gotoGaleriaPage()">Galeria</a></li>
  </ul>
</nav>

<!-- <div class="order-button">
  <fa name="shopping-cart" size="3x"></fa>
  <span>Moje zamowienia</span>
</div> -->

<div *ngIf="this.getCommonPageService().getLoginService().isLogedIn"  class="order-button">
  <fa name="shopping-cart" size="3x"></fa>
  <span (click)="this.gotoProductionStatusPage()">Moje zamowienia</span>
</div>

<div *ngIf="!this.getCommonPageService().getLoginService().isLogedIn"  class="login-button">
  <fa name="user-circle" size=""></fa>
  <span (click)="this.gotoLoginPage()">Zaloguj</span>
</div>




<section class="sec1"></section>
<section class="sec2"></section>
<section class="sec3"></section>
<section class="sec4"></section>
<section class="sec5"></section>

