<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">Profil-pol</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item active">
          <a class="nav-link" (click)="this.gotoStartPage()">Start
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="this.gotoOfertaPage()">Oferta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="this.gotoKontaktPage()">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="this.gotoPoradnikPage()">Poradnik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="this.gotoGaleriaPage()">Galeria</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
