
<!--Footer-->
<footer class="page-footer text text-muted">

    <!--Footer Links-->
    <div class="container p-1">
        <div class="row my-4">

            <!--First column-->
            <div class="col-md-4 col-lg-4">
                <h5 class="title mb-4 font-bold">Nasza Firma</h5>
                <p>Producent garazy blaszanych, wiat, schowkow ogrodowych, garazy drewnopodobnych.</p>
                <p>Jestesmy mloda i rozwijajaca sie firma. Naszym mottem jest dbalosc i jakosc naszych wyrobow. Jesli potrzebujesz
                  dobrego garazu na lata to jestesmy dla Ciebie swietnym wyborem. </p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-2 col-lg-2 ml-auto">
                <h5 class="title mb-4 font-bold">INFO</h5>
                <ul>
                  <!-- TODO  add references-->
                    <p><a href="#!">PROJEKTY</a></p>
                    <p><a href="#!">O NAS</a></p>
                    <p><a href="#!">FACEBOOK</a></p>
                    <p><a href="#!">KONTAKT</a></p>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-4 col-lg-3">
                <h5 class="title mb-4 font-bold">Adres</h5>
                <!--Info-->
                <p><i class="fa fa-home mr-3"></i> Sadek 45, 34-620, Jodlownik, Polska</p>
                <p><i class="fa fa-envelope mr-3"></i> profil-pol.biuro@wp.pl</p>
                <p><i class="fa fa-phone mr-3"></i> + 511 314 324</p>
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Fourth column-->
            <div class="col-md-2 col-lg-2 text-center">
                <h5 class="title mb-4 font-bold">Śledz Nas</h5>
                <!--Social buttons-->

                    <a href="https://www.facebook.com/">
                      <div class="w-100 h-50 social-media mt-2 ">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                      </div>
                    </a>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="">
        <div class="container-fluid">
            © 2018 Profil-pol
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
