<div class="" style="background: rgba(255, 255, 255, 0.445)">
      <carousel class="w-2">
          <slide>
            <img class="slider-image p-2" src="../assets/images/preparedImages/garaz1.jpg" alt="First slide" style="">
            <div class="carousel-caption d-none d-md-block">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </slide>
          <slide>
            <img class="slider-image p-2" src="../assets/images/preparedImages/garaz1.jpg" alt="First slide" style="">
            <div class="carousel-caption d-none d-md-block">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </slide>
          <!-- <slide>
            <img src="../assets/images/preparedImages/garaz2.jpg" alt="Second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </slide> -->
        </carousel>

</div>

