
<app-navbar></app-navbar>

<
<div class="container content">
  <h1 class="text-info text-center">Zamowienia</h1>

  <div class="row" >

    <!-- TODO <nav class="breadcrumb">
      <a class="breadcrumb-item" href="#">Zamowienia</a>
      <a class="breadcrumb-item" href="#">Garaze</a>

    </nav> -->

    <div class="container border p-5" *ngFor="let order of this.orders; let i = index">
      <div class="row">
          <div class="col-md-6">
            <img class="image img-thumbnail rounded float-left" src={{this.order.ImagePath}}>

          </div>
          <div class="col-md-6">
            <h2 class="item-name ">{{this.order.GarageName}}</h2>
            <span>(nr. zamowienia {{this.order.GarageId}})</span>
            <h3 class="price">{{this.order.Price}} zl</h3>
            <h4 class="sizes">Wymiary: {{this.order.GarageSizeX}} X {{this.order.GarageSizeY}} X {{this.order.GarageSizeZ}}</h4>
            <h4 class="sheet-color">Kolor: {{this.order.SheetColor.toString()}}</h4>
            <span class="order-date">Data Zamowienia: {{this.order.OrderDate}}</span>
            <span class="address">Adres: {{this.order.Adress}}</span>
            <span class="city">Miasto: {{this.order.City}}</span>
            <span class="location">Wojewodztwo: {{this.order.Location}}</span>
            <h4 class="production-status">Status produkcji: {{this.order.ProductionStatus}}</h4>
            <div *ngIf="this.order.ProductionStatus === 0" class="alert alert-info" role="alert">
                Zamowienie zlozone! Oczekuj na nasz kontakt.
            </div>
            <div *ngIf="this.order.ProductionStatus === 1" class="alert alert-warning" role="alert">
                Zamowienie w trakcie realizacji.
            </div>
            <div *ngIf="this.order.ProductionStatus === 2" class="alert alert-success" role="alert">
                Zamowienie skonczone!
            </div>


          </div>
      </div>
    </div>

    <!-- <div class="powrot">
      <button type="button" (click)="this.gotoPreviousPage()" class="btn btn-primary btn-lg btn-block ">Powrot</button>
    </div> -->
  </div>
</div>

<app-footer></app-footer>
