.price
{
  padding: 10px;
  color: rgba($color: #fc5d01, $alpha: 1.0)
}

.address
{
  display: block;
}

.city
{
  display: block;
}

.location
{
  display: block;
}

.telephone
{
  display: block;
}

.email
{
  display: block;
}

.content
{
  margin-top: 150px;
}

