<app-navbar></app-navbar>
<div class="cantainer p-5 offer-content">
  <div class="row m-md-5">
    <div *ngFor="let offer of this.getOfferService().garageCardContentArray; let i = index"
          class="col-xs-12 col-sm-6 col-lg-4 mb-3">

      <app-garage-card
      class="card text-center" style = ""
      [idOffer]="offer.idOffer"
      [imagePath]="offer.imagePath"
      [name]="offer.name"
      [available]="offer.available"
      [shortDescription]="offer.shortDescription"
      [longDescription]="offer.longDescription"
      [badgeColour]="offer.badgeColour"
      [badgeContent]="offer.badgeContent"
      [availableSizes]="offer.availableSizes"
      [availableDoors]="offer.availableDoors"
      [availableSheets]="offer.availableSheets"
      [price]="offer.price"
      [discount]="offer.price"
      >
      </app-garage-card>
    </div>
  </div>
</div>
<app-footer></app-footer>

