<!-- <div class="card-deck p-5">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div> -->

<!-- <div class="card-deck p-5">
  <app-garage-card
   class="card text-center" style = ""
   *ngFor="let garage of this.garages; let i = index"
   [imagePath]="garage.imagePath"
   [name]="garage.name"
   [price]="garage.price"
   [available]="garage.available"
   [deliveryTime]="garage.deliveryTime"
   [description]="garage.description"
   [badgeContent]="garage.badgeContent"
  >
  </app-garage-card>
</div> -->

<app-navbar></app-navbar>
<div class="cantainer p-5 offer-content">
  <div class="row m-5">
    <div *ngFor="let garage of this.garages; let i = index"
          class="col-xs-12 col-sm-6 col-lg-4 mb-3">

      <app-garage-card
      class="card text-center" style = ""
      [imagePath]="garage.imagePath"
      [name]="garage.name"
      [price]="garage.price"
      [available]="garage.available"
      [deliveryTime]="garage.deliveryTime"
      [description]="garage.description"
      [badgeContent]="garage.badgeContent"
      >
      </app-garage-card>
    </div>
  </div>
</div>
<app-footer></app-footer>

