<div class="container page-informer">

  <div class="row p-4">
      <div class="text-white bg-info p-3 col-lg-3 d-lg-inline-block" style="text-align: center">
        <h1>Wybierz garaz</h1>
        <p>Wybierz garaz dopasowany do Twoich potrzeb z dostepnych garazy standardowych
          lub skonstruuj wlasny uzywajac naszego kreatora.
        </p>
        <fa name="hand-pointer-o" size="4x"></fa>
      </div>
      <div class="align-self-center p-2 col-lg-1 d-lg-inline-block" style="text-align: center">
        <span class="">
          <fa name="arrow-right" size="3x"></fa>
        </span>
      </div>
      <div class="text-white bg-info col-lg-3 d-lg-inline-block p-3" style="text-align: center">
        <h1>Zamow</h1>
        <p>Szybko i prosto zamow garaz uzywajac formularza na naszej stronie, lada chwila sie
           do Ciebie odezwiemy</p>
        <div class="align-self-bottom">
            <fa name="shopping-cart" size="4x"></fa>
        </div>

      </div>
      <div class="align-self-center p-2 col-lg-1 d-lg-inline-block" style="text-align: center">
        <span class="">
          <fa name="arrow-right" size="3x"></fa>
        </span>
      </div>
      <div class="text-white bg-info col-lg-3 d-lg-inline-block p-3" style="text-align: center">
        <h1>Sprawdz stan produkcji</h1>
        <p>Sprawdz w jakim stanie produkcji znajduje sie garaz klikajac przycisk 'Moje zamowienia'</p>
        <fa name="line-chart" size="4x"></fa>
      </div>
  </div>

  <div class="row align-items-center p-2">
      <div class="col"></div>
      <div class="col">
          <button (click) = "this.gotoOfertaPage()" type="button" class="btn btn-lg btn-warning">Wybierz i zamow garaz</button>
      </div>
      <div class="col"></div>
    </div>

</div>
